%FDF-1.2
%âãÏÓ
1 0 obj
<<
/FDF
<<
/Fields [
<<
/V ({{ first_name }} {{ last_name }})
/T (Name)
>>
<<
/V ({{ date_of_bap }})
/T (Date immersed)
>>
<<
/V ({{ date_of_birth }})
/T (Date of birth)
>>
<<
/V /{{ male_Yes_or_blank }}
/T (Check Box1)
>>
<<
/V /{{ female_Yes_or_blank }}
/T (Check Box2)
>>
<<
/V /{{ other_sheep_Yes_or_blank }}
/T (Check Box3)
>>
<<
/V /{{ anointed_Yes_or_blank }}
/T (Check Box4)
>>
<<
/V /{{ elder_Yes_or_blank }}
/T (Check Box5)
>>
<<
/V /{{ ministerial_servant_Yes_or_blank }}
/T (Check Box6)
>>
<<
/V /{{ regular_pioneer_Yes_or_blank }}
/T (Check Box7)
>>
<<
/V ({{ service_year_1 }})
/T (Service Year)
>>
<<
/V ({{ sep_1_placements }})
/T (1-Place_1)
>>
<<
/V ({{ sep_1_videos }})
/T (1-Video_1)
>>
<<
/V ({{ sep_1_hours }})
/T (1-Hours_1)
>>
<<
/V ({{ sep_1_rvs }})
/T (1-RV_1)
>>
<<
/V ({{ sep_1_studies }})
/T (1-Studies_1)
>>
<<
/V ({{ sep_1_remarks }})
/T (RemarksSeptember)
>>
<<
/V ({{ oct_1_placements }})
/T (1-Place_2)
>>
<<
/V ({{ oct_1_videos }})
/T (1-Video_2)
>>
<<
/V ({{ oct_1_hours }})
/T (1-Hours_2)
>>
<<
/V ({{ oct_1_rvs }})
/T (1-RV_2)
>>
<<
/V ({{ oct_1_studies }})
/T (1-Studies_2)
>>
<<
/V ({{ oct_1_remarks }})
/T (RemarksOctober)
>>
<<
/V ({{ nov_1_placements }})
/T (1-Place_3)
>>
<<
/V ({{ nov_1_videos }})
/T (1-Video_3)
>>
<<
/V ({{ nov_1_hours }})
/T (1-Hours_3)
>>
<<
/V ({{ nov_1_rvs }})
/T (1-RV_3)
>>
<<
/V ({{ nov_1_studies }})
/T (1-Studies_3)
>>
<<
/V ({{ nov_1_remarks }})
/T (RemarksNovember)
>>
<<
/V ({{ dec_1_placements }})
/T (1-Place_4)
>>
<<
/V ({{ dec_1_videos }})
/T (1-Video_4)
>>
<<
/V ({{ dec_1_hours }})
/T (1-Hours_4)
>>
<<
/V ({{ dec_1_rvs }})
/T (1-RV_4)
>>
<<
/V ({{ dec_1_studies }})
/T (1-Studies_4)
>>
<<
/V ({{ dec_1_remarks }})
/T (RemarksDecember)
>>
<<
/V ({{ jan_1_placements }})
/T (1-Place_5)
>>
<<
/V ({{ jan_1_videos }})
/T (1-Video_5)
>>
<<
/V ({{ jan_1_hours }})
/T (1-Hours_5)
>>
<<
/V ({{ jan_1_rvs }})
/T (1-RV_5)
>>
<<
/V ({{ jan_1_studies }})
/T (1-Studies_5)
>>
<<
/V ({{ jan_1_remarks }})
/T (RemarksJanuary)
>>
<<
/V ({{ feb_1_placements }})
/T (1-Place_6)
>>
<<
/V ({{ feb_1_videos }})
/T (1-Video_6)
>>
<<
/V ({{ feb_1_hours }})
/T (1-Hours_6)
>>
<<
/V ({{ feb_1_rvs }})
/T (1-RV_6)
>>
<<
/V ({{ feb_1_studies }})
/T (1-Studies_6)
>>
<<
/V ({{ feb_1_remarks }})
/T (RemarksFebruary)
>>
<<
/V ({{ mar_1_placements }})
/T (1-Place_7)
>>
<<
/V ({{ mar_1_videos }})
/T (1-Video_7)
>>
<<
/V ({{ mar_1_hours }})
/T (1-Hours_7)
>>
<<
/V ({{ mar_1_rvs }})
/T (1-RV_7)
>>
<<
/V ({{ mar_1_studies }})
/T (1-Studies_7)
>>
<<
/V ({{ mar_1_remarks }})
/T (RemarksMarch)
>>
<<
/V ({{ apr_1_placements }})
/T (1-Place_8)
>>
<<
/V ({{ apr_1_videos }})
/T (1-Video_8)
>>
<<
/V ({{ apr_1_hours }})
/T (1-Hours_8)
>>
<<
/V ({{ apr_1_rvs }})
/T (1-RV_8)
>>
<<
/V ({{ apr_1_studies }})
/T (1-Studies_8)
>>
<<
/V ({{ apr_1_remarks }})
/T (RemarksApril)
>>
<<
/V ({{ may_1_placements }})
/T (1-Place_9)
>>
<<
/V ({{ may_1_videos }})
/T (1-Video_9)
>>
<<
/V ({{ may_1_hours }})
/T (1-Hours_9)
>>
<<
/V ({{ may_1_rvs }})
/T (1-RV_9)
>>
<<
/V ({{ may_1_studies }})
/T (1-Studies_9)
>>
<<
/V ({{ may_1_remarks }})
/T (RemarksMay)
>>
<<
/V ({{ jun_1_placements }})
/T (1-Place_10)
>>
<<
/V ({{ jun_1_videos }})
/T (1-Video_10)
>>
<<
/V ({{ jun_1_hours }})
/T (1-Hours_10)
>>
<<
/V ({{ jun_1_rvs }})
/T (1-RV_10)
>>
<<
/V ({{ jun_1_studies }})
/T (1-Studies_10)
>>
<<
/V ({{ jun_1_remarks }})
/T (RemarksJune)
>>
<<
/V ({{ jul_1_placements }})
/T (1-Place_11)
>>
<<
/V ({{ jul_1_videos }})
/T (1-Video_11)
>>
<<
/V ({{ jul_1_hours }})
/T (1-Hours_11)
>>
<<
/V ({{ jul_1_rvs }})
/T (1-RV_11)
>>
<<
/V ({{ jul_1_studies }})
/T (1-Studies_11)
>>
<<
/V ({{ jul_1_remarks }})
/T (RemarksJuly)
>>
<<
/V ({{ aug_1_placements }})
/T (1-Place_12)
>>
<<
/V ({{ aug_1_videos }})
/T (1-Video_12)
>>
<<
/V ({{ aug_1_hours }})
/T (1-Hours_12)
>>
<<
/V ({{ aug_1_rvs }})
/T (1-RV_12)
>>
<<
/V ({{ aug_1_studies }})
/T (1-Studies_12)
>>
<<
/V ({{ aug_1_remarks }})
/T (RemarksAugust)
>>
<<
/V ({{ placements_total_1 }})
/T (1-Place_Total)
>>
<<
/V ({{ videos_total_1 }})
/T (1-Video_Total)
>>
<<
/V ({{ hours_total_1 }})
/T (1-Hours_Total)
>>
<<
/V ({{ rvs_total_1 }})
/T (1-RV_Total)
>>
<<
/V ({{ rvs_total_1 }})
/T (1-Studies_Total)
>>
<<
/V ({{ remarks_total_1 }})
/T (RemarksTotal)
>>
<<
/V ({{ placements_avg_1 }})
/T (1-Place_Average)
>>
<<
/V ({{ videos_avg_1 }})
/T (1-Video_Average)
>>
<<
/V ({{ hours_avg_1 }})
/T (1-Hours_Average)
>>
<<
/V ({{ rvs_avg_1 }})
/T (1-RV_Average)
>>
<<
/V ({{ rvs_avg_1 }})
/T (1-Studies_Average)
>>
<<
/V ({{ remarks_avg_1 }})
/T (RemarksAverage)
>>
<<
/V ({{ service_year_2 }})
/T (Service Year_2)
>>
<<
/V ({{ sep_2_placements }})
/T (2-Place_1)
>>
<<
/V ({{ sep_2_videos }})
/T (2-Video_1)
>>
<<
/V ({{ sep_2_hours }})
/T (2-Hours_1)
>>
<<
/V ({{ sep_2_rvs }})
/T (2-RV_1)
>>
<<
/V ({{ sep_2_studies }})
/T (2-Studies_1)
>>
<<
/V ({{ sep_2_remarks }})
/T (RemarksSeptember_2)
>>
<<
/V ({{ oct_2_placements }})
/T (2-Place_2)
>>
<<
/V ({{ oct_2_videos }})
/T (2-Video_2)
>>
<<
/V ({{ oct_2_hours }})
/T (2-Hours_2)
>>
<<
/V ({{ oct_2_rvs }})
/T (2-RV_2)
>>
<<
/V ({{ oct_2_studies }})
/T (2-Studies_2)
>>
<<
/V ({{ oct_2_remarks }})
/T (RemarksOctober_2)
>>
<<
/V ({{ nov_2_placements }})
/T (2-Place_3)
>>
<<
/V ({{ nov_2_videos }})
/T (2-Video_3)
>>
<<
/V ({{ nov_2_hours }})
/T (2-Hours_3)
>>
<<
/V ({{ nov_2_rvs }})
/T (2-RV_3)
>>
<<
/V ({{ nov_2_studies }})
/T (2-Studies_3)
>>
<<
/V ({{ nov_2_remarks }})
/T (RemarksNovember_2)
>>
<<
/V ({{ dec_2_placements }})
/T (2-Place_4)
>>
<<
/V ({{ dec_2_videos }})
/T (2-Video_4)
>>
<<
/V ({{ dec_2_hours }})
/T (2-Hours_4)
>>
<<
/V ({{ dec_2_rvs }})
/T (2-RV_4)
>>
<<
/V ({{ dec_2_studies }})
/T (2-Studies_4)
>>
<<
/V ({{ dec_2_remarks }})
/T (RemarksDecember_2)
>>
<<
/V ({{ jan_2_placements }})
/T (2-Place_5)
>>
<<
/V ({{ jan_2_videos }})
/T (2-Video_5)
>>
<<
/V ({{ jan_2_hours }})
/T (2-Hours_5)
>>
<<
/V ({{ jan_2_rvs }})
/T (2-RV_5)
>>
<<
/V ({{ jan_2_studies }})
/T (2-Studies_5)
>>
<<
/V ({{ jan_2_remarks }})
/T (RemarksJanuary_2)
>>
<<
/V ({{ feb_2_placements }})
/T (2-Place_6)
>>
<<
/V ({{ feb_2_videos }})
/T (2-Video_6)
>>
<<
/V ({{ feb_2_hours }})
/T (2-Hours_6)
>>
<<
/V ({{ feb_2_rvs }})
/T (2-RV_6)
>>
<<
/V ({{ feb_2_studies }})
/T (2-Studies_6)
>>
<<
/V ({{ feb_2_remarks }})
/T (RemarksFebruary_2)
>>
<<
/V ({{ mar_2_placements }})
/T (2-Place_7)
>>
<<
/V ({{ mar_2_videos }})
/T (2-Video_7)
>>
<<
/V ({{ mar_2_hours }})
/T (2-Hours_7)
>>
<<
/V ({{ mar_2_rvs }})
/T (2-RV_7)
>>
<<
/V ({{ mar_2_studies }})
/T (2-Studies_7)
>>
<<
/V ({{ mar_2_remarks }})
/T (RemarksMarch_2)
>>
<<
/V ({{ apr_2_placements }})
/T (2-Place_8)
>>
<<
/V ({{ apr_2_videos }})
/T (2-Video_8)
>>
<<
/V ({{ apr_2_hours }})
/T (2-Hours_8)
>>
<<
/V ({{ apr_2_rvs }})
/T (2-RV_8)
>>
<<
/V ({{ apr_2_studies }})
/T (2-Studies_8)
>>
<<
/V ({{ apr_2_remarks }})
/T (RemarksApril_2)
>>
<<
/V ({{ may_2_placements }})
/T (2-Place_9)
>>
<<
/V ({{ may_2_videos }})
/T (2-Video_9)
>>
<<
/V ({{ may_2_hours }})
/T (2-Hours_9)
>>
<<
/V ({{ may_2_rvs }})
/T (2-RV_9)
>>
<<
/V ({{ may_2_studies }})
/T (2-Studies_9)
>>
<<
/V ({{ may_2_remarks }})
/T (RemarksMay_2)
>>
<<
/V ({{ jun_2_placements }})
/T (2-Place_10)
>>
<<
/V ({{ jun_2_videos }})
/T (2-Video_10)
>>
<<
/V ({{ jun_2_hours }})
/T (2-Hours_10)
>>
<<
/V ({{ jun_2_rvs }})
/T (2-RV_10)
>>
<<
/V ({{ jun_2_studies }})
/T (2-Studies_10)
>>
<<
/V ({{ jun_2_remarks }})
/T (RemarksJune_2)
>>
<<
/V ({{ jul_2_placements }})
/T (2-Place_11)
>>
<<
/V ({{ jul_2_videos }})
/T (2-Video_11)
>>
<<
/V ({{ jul_2_hours }})
/T (2-Hours_11)
>>
<<
/V ({{ jul_2_rvs }})
/T (2-RV_11)
>>
<<
/V ({{ jul_2_studies }})
/T (2-Studies_11)
>>
<<
/V ({{ jul_2_remarks }})
/T (RemarksJuly_2)
>>
<<
/V ({{ aug_2_placements }})
/T (2-Place_12)
>>
<<
/V ({{ aug_2_videos }})
/T (2-Video_12)
>>
<<
/V ({{ aug_2_hours }})
/T (2-Hours_12)
>>
<<
/V ({{ aug_2_rvs }})
/T (2-RV_12)
>>
<<
/V ({{ aug_2_studies }})
/T (2-Studies_12)
>>
<<
/V ({{ aug_2_remarks }})
/T (RemarksAugust_2)
>>
<<
/V ({{ placements_total_2 }})
/T (2-Place_Total)
>>
<<
/V ({{ videos_total_2 }})
/T (2-Video_Total)
>>
<<
/V ({{ hours_total_2 }})
/T (2-Hours_Total)
>>
<<
/V ({{ rvs_total_2 }})
/T (2-RV_Total)
>>
<<
/V ({{ studies_total_2 }})
/T (2-Studies_Total)
>>
<<
/V ({{ remarks_total_2 }})
/T (RemarksTotal_2)
>>
<<
/V ({{ placements_avg_2 }})
/T (2-Place_Average)
>>
<<
/V ({{ videos_avg_2 }})
/T (2-Video_Average)
>>
<<
/V ({{ hours_avg_2 }})
/T (2-Hours_Average)
>>
<<
/V ({{ rvs_avg_2 }})
/T (2-RV_Average)
>>
<<
/V ({{ studies_avg_2 }})
/T (2-Studies_Average)
>>
<<
/V ({{ remarks_avg_2 }})
/T (RemarksAverage_2)
>>]
>>
>>
endobj
trailer

<<
/Root 1 0 R
>>
%%EOF
